.invoice_wrapper {
    /* background-color: #2C3345; */
    /* display: flex; */
}

.flex_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date_details {
    width: 30%;
}

.exporter_details {
    width: 30%;
}

.importer_details {
    width: 30%;
}

.form_field {
    width: 40%;
}

.action_btn {
    width: 100%;
    margin: 0 auto;
}

.action_btn button {
    font-size: 20px;

}

.person_details {}

.company_details {}

.bg_red {
    background-color: red;
}

.bg_yellow {
    background-color: yellow;
}

.product_list {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.preview_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.preview_exporter {}

.product_metadata {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.preview_products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.download_btn{
    text-align: center;
    margin: 20px auto;
}
.download_btn button{
    font-size: 20px;
    padding: 10px;
     border-radius: 12px;
}
.download_btn button:hover{
    transform: scale(1.1);
    cursor: pointer;
}